/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

/* ===== 리셋 구간 ===== */
body,h1,p{
  margin:0;
  padding:0;
  
  
}


/* ===== 메인 구간 ===== */
main{
  display: flex;
  flex-direction: column;
  text-align: center;
  /* 개발용 설정 */
  min-height: 50vh;
  min-width: 30vw;
}
/* title */
#title{
  font-size: 4em;
  font-weight:300;
  margin-top : 3em;
  color: white;
  -webkit-text-stroke: 1px skyblue;
}

/* 숫자 */
#num{
  font-size: 8em;
  flex-grow: 1;
  margin-bottom: 0.3em;
}

button{
  background:transparent;
  color: white;
  width:8em;
  height: 2em;
  -webkit-text-stroke: 1px skyblue;
  font-size: 1em;
  border-radius: 4em;
  border: 1px solid skyblue;
  transition:all 0.4s
}

button:hover{
  background:skyblue;
  -webkit-text-stroke: 1px white;
}